.w {
  width: 1190px;
  margin: auto;
}
.shortcut {
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;
}
.shortcut-content {
  display: flex;
  font-size: 12px;
}
.shortcut-content-location {
  margin-right: auto;
}
.shortcut-content-location span {
  padding-right: 10px;
}
.shortcut-content li {
  padding: 0 10px;
}
.shortcut-content li a {
  margin-right: 5px;
}
.shortcut-content li .iconfont {
  vertical-align: middle;
}
.shortcut-content .current .myjd-items {
  display: none;
}
.shortcut-content .current:hover {
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.shortcut-content .current:hover .myjd-items {
  display: flex;
  position: absolute;
  left: 0;
  top: 30px;
  width: 280px;
  height: 150px;
  border: 1px solid #ccc;
  background-color: #fff;
  flex-wrap: wrap;
}
.shortcut-content .current:hover .myjd-items .items {
  padding-left: 20px;
  width: 120px;
  height: 24px;
}
.shortcut-content .spacer {
  width: 5px;
  color: #999;
}
.header {
  border-bottom: 1px solid #ccc;
}
.header .header-content {
  padding-bottom: 10px;
  display: flex;
}
.header .header-content .logo {
  flex: 1 1 0;
  text-align: center;
}
.header .header-content .logo img {
  max-height: 120px;
}
.header .header-content-search {
  flex: 4 1 0;
}
.header .header-content-search .search-content {
  display: flex;
  margin: 25px 20px 5px 25px;
}
.header .header-content-search .search-content .search-form {
  display: flex;
  width: 550px;
  height: 32px;
  border: 2px solid #e2231a;
  margin-right: auto;
}
.header .header-content-search .search-content .search-form input {
  flex: 8;
  border: none;
  outline: none;
}
.header .header-content-search .search-content .search-form .iconfont {
  padding: 8px;
  font-size: 16px;
}
.header .header-content-search .search-content .search-form button {
  flex: 1;
  background-color: #e2231a;
  border: none;
  outline: none;
}
.header .header-content-search .search-content .search-form button .search {
  color: white;
}
.header .header-content-search .search-content .mycar {
  display: flex;
  margin-right: 10px;
  width: 130px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #eeeeee;
}
.header .header-content-search .search-content .mycar .car {
  margin: auto;
  position: relative;
  font-size: 25px;
  color: #e2231a;
}
.header .header-content-search .search-content .mycar .num {
  position: absolute;
  top: -4px;
  left: 15px;
  width: 16px;
  height: 14px;
  line-height: 13px;
  text-align: center;
  border: 1px solid #e2231a;
  background-color: #e2231a;
  border-radius: 7px;
  font-size: 10px;
  color: #fff;
}
.header .header-content-search .search-content .mycar a {
  margin-right: 10px;
  color: #e2231a;
  font-size: 12px;
}
.header .header-content-search .hotwords {
  width: 550px;
  display: flex;
  font-size: 12px;
  margin-left: 25px;
}
.header .header-content-search .hotwords li {
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.header .header-content-search .navitems {
  margin-top: 20px;
  flex: 2;
  display: flex;
}
.header .header-content-search .navitems li {
  padding: 0 10px;
  font-weight: 700;
  color: #c81623;
}
.header .header-content-search .navitems li .current {
  font-size: 16px;
  font-weight: 700;
  color: #e2231a;
}
.header .header-content-search .navitems a {
  color: #333;
}
.treasure {
  flex: 1 1 0;
}
.content {
  background-color: #f5f5f5;
}
.content-items {
  margin: 10px auto 30px ;
  display: flex;
}
.content-items .nav-left {
  width: 190px;
  padding-left: 15px;
  margin-right: 10px;
  background-color: #fff;
}
.content-items .nav-left li {
  position: relative;
  line-height: 25px;
  font-size: 14px;
}
.content-items .nav-left li a {
  color: #636363;
}
.content-items .nav-left li:nth-child(1):hover .hidden {
  display: block;
  position: absolute;
  top: -2px;
  left: 190px;
  background-color: #fff;
}
.content-items .nav-left li:hover {
  background-color: #ccc;
}
.content-items .nav-left .hidden {
  display: none;
}
.content-items .nav-left .hidden .menu-items {
  display: flex;
  width: 1000px;
  height: 454px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  padding: 20px 10px 20px 10px;
}
.content-items .nav-left .hidden .menu-items .category-nav {
  flex: 1 1 0;
}
.content-items .nav-left .hidden .menu-items .category-nav-items {
  display: flex;
  margin-left: 15px;
}
.content-items .nav-left .hidden .menu-items .category-nav-items li {
  margin-right: 10px;
  padding: 0 5px;
  line-height: 24px;
  background-color: #333;
}
.content-items .nav-left .hidden .menu-items .category-nav-items li .iconfont {
  font-size: 12px;
  color: #fff;
}
.content-items .nav-left .hidden .menu-items .category-nav-items li a {
  color: #fff;
  font-size: 12px;
}
.content-items .nav-left .hidden .menu-items .category-detail dl {
  margin-top: 15px;
  font-size: 12px;
  display: flex;
}
.content-items .nav-left .hidden .menu-items .category-detail dl .iconfont {
  font-size: 12px;
}
.content-items .nav-left .hidden .menu-items .category-detail dl dt {
  width: 70px;
  text-align: right;
  vertical-align: middle;
  margin-right: 20px;
}
.content-items .nav-left .hidden .menu-items .category-detail dl dt a {
  font-weight: 700;
  color: #333;
}
.content-items .nav-left .hidden .menu-items .category-detail dl dd a {
  display: inline-block;
  padding: 5px 7px;
}
.content-items .nav-left .hidden .menu-items .brands {
  margin-left: 20px;
}
.content-items .nav-left .hidden .menu-items .brands-items {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
}
.content-items .nav-left .hidden .menu-items .brands-items li {
  margin-right: 2px;
}
.content-items .nav-left .hidden .menu-items .brands-bottom {
  margin-top: 10px;
}
.content-items .roll {
  flex-shrink: 0;
  width: 570px;
  overflow: hidden;
}
.content-items .roll .slider {
  display: flex;
  width: 2850px;
  height: 480px;
}
.content-items .roll .slider li {
  flex: 1;
  animation: 10s 0s alternate ease-in-out infinite;
}
.content-items .roll .slider li img {
  width: 570px;
  height: 480px;
}
@keyframes roll {
  0% {
    margin-left: 0px;
  }
  20% {
    margin-left: -580px;
  }
  40% {
    margin-left: -1160px;
  }
  60% {
    margin-left: -1740px;
  }
  80% {
    margin-left: -2320px;
  }
  100% {
    margin-left: -2900px;
  }
}
.content-items .recommend {
  margin-left: 10px;
  height: 480px;
}
.content-items .recommend li:nth-last-child(1) {
  margin: 0;
}
.content-items .recommend li {
  margin-bottom: 12px;
}
.content-items .recommend li img {
  width: 190px;
  height: 150px;
}
.content-items .nav-info {
  margin-left: 20px;
  font-size: 12px;
  background-color: #fff;
  height: 480px;
}
.content-items .nav-info .user {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.content-items .nav-info .user-info {
  display: flex;
  height: 71px;
}
.content-items .nav-info .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-top: 15px;
}
.content-items .nav-info .user-info .welc {
  margin: 20px 0 0 18px;
}
.content-items .nav-info .user-info .welc p {
  margin-top: 5px;
  line-height: 20px;
}
.content-items .nav-info .user-info .welc p > a:nth-child(1) {
  padding-right: 5px;
  border-right: 1px solid #ccc;
}
.content-items .nav-info .user-profit {
  height: 25px;
  display: flex;
  justify-content: space-around;
}
.content-items .nav-info .user-profit a {
  width: 80px;
  line-height: 25px;
  border-radius: 13px;
  color: #fff;
  text-align: center;
}
.content-items .nav-info .user-profit .new-pro {
  background-color: #e1251b;
}
.content-items .nav-info .user-profit .new-pro:hover {
  color: #fff !important;
}
.content-items .nav-info .user-profit .vip {
  background-color: #363634;
}
.content-items .nav-info .user-profit .vip:hover {
  color: #fff !important;
  background-color: #e1251b;
}
.content-items .nav-info .news {
  padding: 5px 0 10px 15px;
}
.content-items .nav-info .news-fast {
  display: flex;
  height: 30px;
  line-height: 35px;
}
.content-items .nav-info .news-fast h5 {
  margin-right: auto;
  font-size: 14px;
  font-weight: 700;
}
.content-items .nav-info .news-fast .more .iconfont {
  font-size: 10px;
}
.content-items .nav-info .news-list a {
  display: block;
  height: 16px;
  width: 190px;
  margin: 5px 4px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content-items .nav-info .news-list .news-tag {
  display: inline-block;
  margin-right: 6px;
  width: 35px;
  height: 16px;
  line-height: 16px;
  color: #e1251b;
  background-color: #ddaeac;
  text-align: center;
}
.content-items .nav-info .services {
  display: flex;
  width: 209px;
  padding: 20px 20px 0;
  border-top: 1px solid #ccc;
  flex-wrap: wrap;
  text-align: left;
  height: 234px;
  box-sizing: border-box;
}
.content-items .nav-info .services-item {
  width: 55px;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content-items .nav-info .services-item-link {
  display: block;
}
.content-items .nav-info .services-item-link img {
  width: 28px;
  height: 28px;
}
.content .Jd-kill {
  margin-bottom: 30px;
}
.content .Jd-kill .seckill {
  display: flex;
  height: 260px;
  background-color: #fff;
}
.content .Jd-kill .seckill .countdown {
  width: 190px;
}
.content .Jd-kill .seckill .countdown a {
  display: block;
  height: 260px;
  text-align: center;
  color: #fff;
  background: url("../../images/kill.png") no-repeat;
}
.content .Jd-kill .seckill .countdown a .countdown-title {
  padding-top: 30px;
  line-height: 45px;
  font-size: 30px;
  font-weight: 700;
}
.content .Jd-kill .seckill .countdown a .countdown-desc {
  line-height: 26px;
  margin-top: 100px;
  font-size: 14px;
}
.content .Jd-kill .seckill .countdown a .countdown-desc strong {
  line-height: 26px;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
}
.content .Jd-kill .seckill .countdown a .countdown-desc .countdown-timmer {
  display: flex;
  text-align: center;
  margin-left: 20px;
}
.content .Jd-kill .seckill .countdown a .countdown-desc .countdown-timmer .uini-timer {
  position: relative;
  margin: 10px 10px 0 10px;
  display: block;
  width: 30px;
  line-height: 30px;
  background-color: #2f3430;
  font-size: 20px;
  font-weight: 700;
}
.content .Jd-kill .seckill .countdown a .countdown-desc .countdown-timmer .uini-timer:after {
  content: ":";
  width: 20px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: -20px;
  font-weight: 700;
}
.content .Jd-kill .seckill .countdown a .countdown-desc .countdown-timmer .uini-timer:last-child:after {
  content: "";
}
.content .Jd-kill .seckill .countdown a:hover {
  color: #fff !important;
}
.content .Jd-kill .seckill .skill-item {
  flex: 3;
}
.content .Jd-kill .seckill .skill-item .slider-items {
  display: flex;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item {
  padding: 10px;
  width: 180px;
  height: 240px;
  text-align: center;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item h6 {
  margin: 10px;
  height: 18px;
  text-overflow: ellipsis;
  /*省略号 */
  white-space: nowrap;
  /*溢出时不换行 */
  overflow: hidden;
  font-size: 12px;
  color: #333;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item h6:hover {
  color: #e2231a;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item-price {
  height: 22px;
  position: relative;
  border: 1px solid #e2231a;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item-price-reduce {
  position: absolute;
  left: 0;
  height: 22px;
  line-height: 22px;
  width: 102px;
  display: inline-block;
  background-color: #e2231a;
  color: #fff;
  font-weight: 700;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item-price-reduce i {
  font-size: 10px;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item-price-reduce::after {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 22px 8px 0 0;
  position: absolute;
  top: 0;
  left: 94px;
}
.content .Jd-kill .seckill .skill-item .slider-items .slider-item-price-orign {
  position: absolute;
  right: 0;
  line-height: 22px;
  width: 66px;
  display: inline-block;
  text-decoration: line-through;
  color: #999;
  font-size: 12px;
}
.content .Jd-kill .seckill .skill-brand {
  padding: 10px;
  width: 180px;
  height: 240px;
  font-size: 14px;
  text-align: center;
}
.content .Jd-kill .seckill .skill-brand .brand-item {
  margin-bottom: 10px;
}
.content .Jd-kill .seckill .skill-brand .item-info {
  line-height: 21px;
  height: 97px;
  background-image: linear-gradient(to bottom, #f7f7f7, #2a82df);
}
.content .Jd-kill .seckill .skill-brand .item-info .hot {
  margin: 8px 0;
  font-weight: 700;
}
.content .Jd-kill .seckill .skill-brand .item-info .brand {
  margin: 0 auto;
  width: 84px;
  border: 1px solid #c81623;
  border-radius: 14px;
  font-weight: 700;
}
.content .Jd-kill .seckill .skill-brand .item-info .brand .iconfont {
  font-size: 10px;
}
.content .Jd-kill .seckill .skill-brand .item-info .brand:hover {
  background-color: #c81623;
  color: #fff;
}
.content .bargin {
  height: 340px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.content .bargin .daily-spec {
  width: 590px;
  background-color: #fff;
}
.content .bargin .daily-spec .spec-hd {
  display: flex;
  height: 60px;
  line-height: 60px;
  margin: 0 20px;
}
.content .bargin .daily-spec .spec-hd-title {
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
  color: #333;
}
.content .bargin .daily-spec .spec-hd-title .iconfont {
  color: #e2231a;
  font-size: 20px;
  margin-left: 8px;
}
.content .bargin .daily-spec .spec-hd-category {
  width: 260px;
  font-size: 14px;
}
.content .bargin .daily-spec .spec-hd-category a {
  margin-left: 20px;
  width: 28px;
  height: 21px;
}
.content .bargin .daily-spec-content {
  display: flex;
  padding: 20px;
  height: 280px;
  box-sizing: border-box;
}
.content .bargin .daily-spec-content .spec-item {
  padding: 0 20px 0;
  width: 170px;
  text-align: center;
}
.content .bargin .daily-spec-content .spec-item h6 {
  margin: 10px 0;
  height: 18px;
  width: 160px;
  text-overflow: ellipsis;
  /*省略号 */
  white-space: nowrap;
  /*溢出时不换行 */
  overflow: hidden;
  color: #333;
}
.content .bargin .daily-spec-content .spec-item h6:hover {
  color: #e2231a;
}
.content .bargin .daily-spec-content .spec-item-price {
  height: 22px;
  position: relative;
}
.content .bargin .daily-spec-content .spec-item-price-reduce {
  font-size: 20px;
  left: 0;
  line-height: 22px;
  width: 102px;
  color: #e2231a;
  font-weight: 700;
}
.content .bargin .daily-spec-content .spec-item-price-reduce i {
  font-size: 10px;
}
.content .bargin .daily-spec-content .spec-item-price-orign {
  text-decoration: line-through;
  color: #999;
  font-size: 12px;
}
.content .bargin .daily-spec-content .spec-lists {
  display: flex;
  flex-wrap: wrap;
}
.content .bargin .daily-spec-content .spec-lists-item {
  margin: 10px 0;
  width: 170px;
  height: 84px;
  display: flex;
}
.content .bargin .daily-spec-content .spec-lists-item img {
  width: 84px;
  height: 84px;
}
.content .bargin .daily-spec-content .spec-lists-item .item {
  width: 75px;
}
.content .bargin .daily-spec-content .spec-lists-item .item p {
  width: 60px;
}
.content .bargin .daily-spec-content .spec-lists-item .item-name {
  font-size: 12px;
}
.content .bargin .daily-spec-content .spec-lists-item .item-price-reduce {
  font-size: 20px;
  color: #e2231a;
  font-weight: 700;
}
.content .bargin .daily-spec-content .spec-lists-item .item-price-reduce i {
  font-size: 10px;
}
.content .bargin .daily-spec-content .spec-lists-item .item-price-orign {
  text-decoration: line-through;
  color: #999;
  font-size: 12px;
}
.content .bargin .buy-brand {
  display: flex;
  width: 590px;
  background-color: #fff;
  flex-wrap: wrap;
}
.content .bargin .buy-brand .brand-hd {
  padding: 0 20px;
}
.content .bargin .buy-brand .brand-hd-title {
  line-height: 60px;
  font-weight: 700;
  font-size: 24px;
  color: #333;
}
.content .bargin .buy-brand .brand-hd-title .iconfont {
  color: #e2231a;
  font-size: 20px;
  margin-left: 8px;
}
.content .bargin .buy-brand .brand-hd .brand-item {
  height: 270px;
  display: flex;
  text-align: center;
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content {
  position: relative;
  width: 270px;
  height: 265px;
  background: linear-gradient(to bottom, #fff, 80%, #fddd);
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content .icon-brand {
  margin-bottom: 10px;
  height: 24px;
  font-size: 18px;
  font-weight: 700;
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content span {
  font-size: 12px;
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content .big-bra {
  margin: 10px auto;
  width: 130px;
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content .big-bra img {
  width: 100%;
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content .rest-days {
  margin-left: 10px;
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content .rest-days:before {
  content: "";
  position: absolute;
  left: 138px;
  top: 78px;
  width: 1px;
  height: 10px;
  background-color: rgba(102, 102, 102, 0.4);
}
.content .bargin .buy-brand .brand-hd .brand-item .icon-content .rest-days strong {
  font-weight: 700;
}
.content .bargin .buy-brand .other-items {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 15px 0;
}
.content .bargin .buy-brand .other-items .other-item {
  width: 130px;
  margin: 5px;
}
.content .bargin .buy-brand .other-items .other-item img {
  width: 100px;
  margin: 0 10px;
}
.content .jd-goods {
  display: flex;
  width: 1190px;
  height: 340px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content .jd-goods .news-arrival {
  width: 290px;
  background-color: #fff;
}
.content .jd-goods .news-arrival-hd {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}
.content .jd-goods .news-arrival-hd-title {
  font-weight: 700;
  font-size: 24px;
  color: #333;
}
.content .jd-goods .news-arrival-hd-title .iconfont {
  color: #e2231a;
  font-size: 20px;
  margin-left: 8px;
}
.content .jd-goods .news-arrival .ad-slider {
  margin-top: 15px;
  display: flex;
  overflow: hidden;
}
.content .jd-goods .news-arrival .ad-slider li {
  width: 104px;
  height: 104px;
}
.content .jd-goods .news-arrival .ad-slider li img {
  width: 104px;
  height: 104px;
}
.content .jd-goods .news-arrival .ad-info {
  width: 200px;
  text-align: center;
  margin: 20px auto;
}
.content .jd-goods .news-arrival .ad-info p {
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content .jd-goods .news-arrival .ad-info .intro {
  font-size: 14px;
}
.content .jd-goods .news-arrival .ad-info .more {
  font-size: 12px;
  color: #999;
}
.content .jd-goods .news-arrival .ad-info span {
  color: #e2231a;
  font-size: 18px;
}
.content .jd-goods .jd-top {
  width: 290px;
  background-color: #fff;
  padding: 0 15px;
  box-sizing: border-box;
}
.content .jd-goods .jd-top-hd {
  height: 60px;
  line-height: 60px;
}
.content .jd-goods .jd-top-hd-title {
  font-weight: 700;
  font-size: 24px;
  color: #333;
}
.content .jd-goods .jd-top-hd-title .iconfont {
  color: #e2231a;
  font-size: 20px;
  margin-left: 8px;
}
.content .jd-goods .jd-top-hd-tag {
  display: flex;
  line-height: 20px;
}
.content .jd-goods .jd-top-hd-tag li {
  font-size: 12px;
  width: 62px;
  height: 20px;
  text-align: center;
}
.content .jd-goods .jd-top-hd-tag li:hover {
  width: 62px;
  height: 20px;
  border-radius: 12px;
  background-color: #e1251b;
}
.content .jd-goods .jd-top-hd-tag li:hover a:hover {
  display: inline-block;
  width: 62px;
  height: 20px;
  color: #fff !important;
}
.content .jd-goods .jd-top .fitment li {
  display: flex;
  margin-top: 20px;
}
.content .jd-goods .jd-top .fitment li .rank {
  margin: 7px;
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 41px;
  background: url("../../images/bg.png") no-repeat;
  background-size: 29px 41px;
  text-align: center;
}
.content .jd-goods .jd-top .fitment li .rank-top {
  line-height: 16px;
  width: 28px;
  height: 16px;
  color: #e6ac36;
  font-weight: 700;
  font-size: 12px;
}
.content .jd-goods .jd-top .fitment li .rank-num {
  margin-top: -5px;
  width: 28px;
  height: 19px;
  line-height: 19px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.content .jd-goods .jd-top .fitment li img {
  width: 70px;
  height: 70px;
  margin: 0 5px;
}
.content .jd-goods .jd-top .fitment li a {
  line-height: 25px;
  margin: 10px;
  height: 50px;
  overflow: hidden;
  font-size: 14px;
}
.content .jd-goods .nice-shop {
  width: 290px;
  background-color: #fff;
  padding: 0 15px;
  box-sizing: border-box;
}
.content .jd-goods .nice-shop-hd {
  height: 60px;
  line-height: 60px;
}
.content .jd-goods .nice-shop-hd-title {
  font-weight: 700;
  font-size: 24px;
  color: #333;
}
.content .jd-goods .nice-shop-hd-title .iconfont {
  color: #e2231a;
  font-size: 20px;
  margin-left: 8px;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item {
  position: relative;
  height: 128px;
  padding: 0 15px;
  background: url("../../images/bg3.png");
  margin-bottom: 10px;
  background-size: cover;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .shop-info {
  width: 120px;
  height: 41px;
  text-align: center;
  padding-top: 10px;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .shop-info-title {
  width: 120px;
  max-height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 14px;
  margin: 5px 0 0;
  color: #333;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .shop-info-tags {
  width: 120px;
  height: 18px;
  font-size: 12px;
  margin-top: 15px;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .shop-info-tags-origin {
  width: 30px;
  padding: 2px;
  color: #e2231a;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #e2231a;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .shop-info-tags-theme {
  color: #596fab;
  border-radius: 2px;
  border: 1px solid #596fab;
  width: 54px;
  margin-left: 10px;
  padding: 2px;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .item-social {
  height: 18px;
  position: absolute;
  left: 23px;
  bottom: 25px;
  font-size: 12px;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .shop-item-cover {
  position: absolute;
  top: 14px;
  left: 140px;
  width: 100px;
  text-align: center;
  background-color: #fff;
}
.content .jd-goods .nice-shop .nice-shop-container .shop-item .shop-item-cover img {
  margin-top: 5px;
  width: 90px;
  height: 90px;
}
.content .jd-goods .coupons {
  width: 290px;
  background-color: #fff;
}
.content .jd-goods .coupons-hd {
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}
.content .jd-goods .coupons-hd-title {
  font-weight: 700;
  font-size: 24px;
  color: #333;
}
.content .jd-goods .coupons-hd-title .iconfont {
  color: #e2231a;
  font-size: 20px;
  margin-left: 8px;
}
.content .jd-goods .coupons-container {
  width: 290px;
  height: 280px;
  background: url("../../images/bg14.png");
}
.content .jd-goods .coupons-container .coupons-items {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 280px;
  margin: 0 15px;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item {
  display: flex;
  height: 82px;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item-img {
  margin-left: 10px;
  padding: 8px;
  width: 50px;
  height: 50px;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item-img img {
  width: 50px;
  height: 50px;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item-info {
  width: 140px;
  height: 82px;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item-info-price {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #e33333;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item-info-price span {
  font-size: 28px;
  margin-right: 3px;
  font-weight: 700;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item-info-limit {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item-info-desc {
  color: #333;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item .coupons-more {
  margin-left: 10px;
  display: flex;
  position: relative;
  width: 17px;
  justify-content: center;
  align-items: Center;
  font-size: 12px;
  color: #666;
}
.content .jd-goods .coupons-container .coupons-items .coupons-item .coupons-more .iconfont {
  font-size: 10px;
  position: absolute;
  left: 18px;
  top: 35px;
}
.content .jd-goods .coupons-container .coupons-items .item2 {
  margin: 5px 0;
}
.content .Jd-channel {
  margin-bottom: 30px;
}
.content .Jd-channel .channel-block .channel-hd {
  height: 65px;
}
.content .Jd-channel .channel-block .channel-hd-title {
  position: relative;
  width: 150px;
  height: 45px;
  color: #333;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  padding: 0 30px;
  margin: 0 auto 20px;
}
.content .Jd-channel .channel-block .channel-hd-title:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-image: url("../../images/channel.png");
  background-position: 0 0;
  width: 25px;
  height: 20px;
  left: 0;
}
.content .Jd-channel .channel-block .channel-hd-title:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-image: url("../../images/channel.png");
  background-position: -25px 0;
  width: 25px;
  height: 20px;
  right: 0;
}
.content .Jd-channel .channel-block .channel-bd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 950px;
}
.content .Jd-channel .channel-block .channel-bd-wrapper {
  width: 600px;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-aside img {
  margin: 0px 5px 5px 0;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items {
  display: flex;
  flex-wrap: wrap;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items .bd-items {
  background-color: #fff;
  width: 290px;
  height: 163px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 17px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items .bd-items:nth-child(even) {
  margin-right: 0;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items .bd-items-title {
  height: 60px;
  padding-left: 20px;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items .bd-items-title-main {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items .bd-items-title-aside {
  color: #999;
  font-size: 14px;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items .bd-items .img-items {
  width: 290px;
  height: 100px;
}
.content .Jd-channel .channel-block .channel-bd-wrapper-items .bd-items .img-items img {
  width: 100px;
  height: 100px;
  margin: 0 20px;
}
.content .Jd-channel .channel-block .channel-bd .channel-right-items {
  width: 590px;
}
.content .recommend-block .recommend-tabs {
  display: flex;
  background-color: #fff;
}
.content .recommend-block .recommend-tabs-item {
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 180px;
  margin-right: 25px;
}
.content .recommend-block .recommend-tabs-item-title {
  width: 64px;
  height: 27px;
  margin: 7px auto 0;
}
.content .recommend-block .recommend-tabs-item-title:hover {
  background: #e1251b;
  color: #fff !important;
  width: 70px;
  height: 27px;
  display: inline-block;
  border-radius: 50px;
  padding: 0 5px;
}
.content .recommend-block .recommend-tabs-item-title:hover span {
  color: #fff !important;
}
.content .recommend-block .recommend-tabs-item-title span {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}
.content .recommend-block .recommend-tabs-item-desc {
  height: 21px;
  line-height: 21px;
  color: #999;
  font-size: 14px;
}
.content .recommend-block .recommend-tabs-item-desc:hover {
  color: #e1251b;
}
.content .recommend-block .recommend-tabs-item-gap {
  position: absolute;
  right: 0;
  top: 7px;
  height: 30px;
  margin: 10px 0;
  width: 1px;
  background: #dfdfdf;
}
.content .recommend-block .more-lists {
  display: flex;
  flex-wrap: wrap;
  width: 1190px;
  justify-content: space-between;
}
.content .recommend-block .more-lists-item {
  display: flex;
  flex-wrap: wrap;
  width: 232px;
  height: 322px;
  margin: 10px 0;
  text-align: center;
  background-color: #fff;
}
.content .recommend-block .more-lists-item .item-img {
  width: 230px;
  height: 220px;
  text-align: center;
}
.content .recommend-block .more-lists-item .item-img img {
  margin-top: 30px;
}
.content .recommend-block .more-lists-item .more-info {
  position: relative;
  padding: 0 10px;
  width: 230px;
  height: 100px;
  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
}
.content .recommend-block .more-lists-item .more-info:hover .find-other {
  display: flex;
}
.content .recommend-block .more-lists-item .more-info .find-other {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 230px;
  height: 66px;
  opacity: 0.9;
  z-index: 100;
  background-color: #ffffff;
}
.content .recommend-block .more-lists-item .more-info .find-other span {
  margin: 15px auto;
  color: #fff;
  display: inline-block;
  width: 122px;
  height: 30px;
  background-color: #c81623;
  line-height: 30px;
  border-radius: 15px;
}
.footer {
  background-color: #f5f5f5;
}
.footer .mod-service {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}
.footer .mod-service-item {
  display: flex;
  width: 240px;
}
.footer .mod-service-item h3 {
  margin-left: 10px;
  font-weight: 700;
}
.footer .mod-service-item-ti {
  width: 180px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
}
.footer .mod-service-item-duo {
  width: 36px;
  height: 42px;
  background: url("../../images/sprite.png") 0 -192px;
}
.footer .mod-service-item-kuai {
  width: 36px;
  height: 42px;
  background: url("../../images/sprite.png") -41px -192px;
}
.footer .mod-service-item-hao {
  width: 36px;
  height: 42px;
  background: url("../../images/sprite.png") -82px -192px;
}
.footer .mod-service-item-sheng {
  width: 36px;
  height: 42px;
  background: url("../../images/sprite.png") -123px -192px;
}
.footer .mod-help {
  display: flex;
  height: 187px;
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}
.footer .mod-help-list {
  width: 198px;
  margin-right: 20px;
}
.footer .mod-help-list:last-child {
  margin-right: 0;
}
.footer .mod-help-list dt {
  height: 30px;
  font-size: 16px;
  font-weight: 700;
}
.footer .mod-help-list dd a {
  font-size: 14px;
  height: 21px;
}
.footer .mod-copyright {
  text-align: center;
}
.footer .mod-copyright-links {
  margin: 20px 0 15px 0;
}
.footer .mod-copyright-detl {
  height: 21px;
  line-height: 21px;
}
