.w {
  width: 1190px;
  margin: auto;
}
.shortcut {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;
}
.shortcut-content {
  display: flex;
  font-size: 12px;
}
.shortcut-content-location {
  margin-right: auto;
}
.shortcut-content-location span {
  padding-right: 10px;
}
.shortcut-content li {
  line-height: 30px;
  padding: 0 10px;
}
.shortcut-content li a {
  margin-right: 5px;
}
.shortcut-content li .iconfont {
  vertical-align: middle;
}
.shortcut-content .current:hover {
  display: block;
  position: relative;
  background-color: #fff;
}
.shortcut-content .current:hover .myjd-items {
  display: none;
  position: abusolute;
  top: 15px;
  width: 280px;
  height: 150px;
  border: 1px solid #ccc;
  justify-content: start;
}
.shortcut-content .spacer {
  width: 5px;
  color: #999;
}
.header {
  border-bottom: 1px solid #ccc;
}
.header .header-content {
  padding-bottom: 10px;
  height: 120px;
  display: flex;
}
.header .header-content .logo {
  flex: 1 1 0;
  text-align: center;
}
.header .header-content .logo img {
  max-height: 120px;
}
.header .header-content-search {
  display: flex;
  flex: 4 1 0;
  flex-direction: column;
  justify-content: space-around;
}
.header .header-content-search .search-content {
  display: flex;
  flex: 2;
  margin: 25px 20px 5px 25px;
}
.header .header-content-search .search-content .search-form {
  display: flex;
  width: 550px;
  height: 32px;
  border: 2px solid #e2231a;
  text-align: center;
  margin-right: auto;
}
.header .header-content-search .search-content .search-form input {
  flex: 8;
  display: inline-block;
  border: none;
  outline: none;
}
.header .header-content-search .search-content .search-form button {
  flex: 1;
  background-color: #e2231a;
  border: none;
  outline: none;
}
.header .header-content-search .search-content .search-form button .search {
  color: white;
}
.header .header-content-search .search-content .mycar {
  display: flex;
  margin-right: 10px;
  width: 130px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #eeeeee;
}
.header .header-content-search .search-content .mycar .car {
  margin: auto;
  position: relative;
  font-size: 25px;
  color: #e2231a;
}
.header .header-content-search .search-content .mycar .num {
  position: absolute;
  top: -4px;
  left: 15px;
  width: 16px;
  height: 14px;
  line-height: 13px;
  text-align: center;
  border: 1px solid #e2231a;
  background-color: #e2231a;
  border-radius: 7px;
  font-size: 10px;
  color: #fff;
}
.header .header-content-search .search-content .mycar a {
  margin-right: 10px;
  color: #e2231a;
  font-size: 12px;
}
.header .header-content-search .hotwords {
  flex: 1;
  width: 550px;
  display: flex;
  font-size: 12px;
  margin-left: 25px;
}
.header .header-content-search .hotwords li {
  flex: 2 1 auto;
}
.header .header-content-search .navitems {
  margin-top: 20px;
  flex: 2;
  display: flex;
}
.header .header-content-search .navitems li {
  flex: 1 1 auto;
  line-height: 40px;
  font-weight: 700;
  color: #c81623;
}
.header .header-content-search .navitems li .current {
  font-size: 16px;
  font-weight: 700;
  color: #e2231a;
}
.header .header-content-search .navitems a {
  color: #333;
}
.treasure {
  flex: 1 1 0;
}
.content {
  width: 100%;
  height: 480px;
  margin-bottom: 30px;
}
.content-items {
  padding: 10px 0;
  display: flex;
  margin-bottom: 10px;
}
.content-items .nav-left {
  flex: 1;
  width: 190px;
  height: 480px;
  margin-left: 18px;
}
.content-items .nav-left li {
  position: relative;
  line-height: 25px;
  font-size: 14px;
}
.content-items .nav-left li a {
  color: #636363;
}
.content-items .nav-left li:nth-child(1):hover .hidden {
  display: block;
  position: absolute;
  top: -2px;
  left: 190px;
  background-color: #fff;
}
.content-items .nav-left li:hover {
  background-color: #ccc;
}
.content-items .nav-left .hidden {
  display: none;
}
.content-items .nav-left .hidden .menu-items {
  display: flex;
  width: 1000px;
  height: 454px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  padding: 20px 0 20px 20px;
}
.content-items .nav-left .hidden .menu-items .category {
  display: flex;
  flex: 4 1 0;
  flex-direction: column;
}
.content-items .nav-left .hidden .menu-items .category-nav {
  flex: 1 1 0;
}
.content-items .nav-left .hidden .menu-items .category-nav-items {
  display: flex;
  justify-content: start;
}
.content-items .nav-left .hidden .menu-items .category-nav-items li {
  margin-right: 10px;
  padding: 0 5px;
  line-height: 24px;
  flex: 0 1 auto;
  background-color: #333;
}
.content-items .nav-left .hidden .menu-items .category-nav-items li .iconfont {
  font-size: 12px;
  color: #fff;
}
.content-items .nav-left .hidden .menu-items .category-nav-items li a {
  color: #fff;
  font-size: 12px;
}
.content-items .nav-left .hidden .menu-items .category-detail {
  flex: 7 1 0;
  display: flex;
  flex-wrap: wrap;
}
.content-items .nav-left .hidden .menu-items .category-detail dl {
  margin-top: 15px;
  font-size: 12px;
  display: flex;
}
.content-items .nav-left .hidden .menu-items .category-detail dl .iconfont {
  font-size: 12px;
}
.content-items .nav-left .hidden .menu-items .category-detail dl dt {
  width: 70px;
  text-align: right;
  vertical-align: middle;
  margin-right: 20px;
}
.content-items .nav-left .hidden .menu-items .category-detail dl dt a {
  font-weight: 700;
  color: #333;
}
.content-items .nav-left .hidden .menu-items .category-detail dl dd a {
  display: inline-block;
  padding: 5px 7px;
}
.content-items .nav-left .hidden .menu-items .brands {
  margin-left: 20px;
}
.content-items .nav-left .hidden .menu-items .brands-items {
  width: 198px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.content-items .nav-left .hidden .menu-items .brands-items li {
  margin-right: 2px;
}
.content-items .nav-left .hidden .menu-items .brands-bottom {
  margin-top: 10px;
}
.content-items .roll {
  flex: 3 0 0;
  width: 580px;
  height: 480px;
  overflow: hidden;
}
.content-items .roll .slider {
  display: flex;
  width: 2900px;
  height: 480px;
}
.content-items .roll .slider li {
  flex: 1;
  animation: 10s 0s alternate ease-in-out infinite;
}
.content-items .roll .slider li img {
  width: 570px;
  height: 480px;
}
@keyframes roll {
  0% {
    margin-left: 0px;
  }
  20% {
    margin-left: -580px;
  }
  40% {
    margin-left: -1160px;
  }
  60% {
    margin-left: -1740px;
  }
  80% {
    margin-left: -2320px;
  }
  100% {
    margin-left: -2900px;
  }
}
.content-items .recommend {
  margin-left: 10px;
}
.content-items .recommend li:nth-last-child(1) {
  margin: 0;
}
.content-items .recommend li {
  margin-bottom: 12px;
}
.content-items .recommend li img {
  width: 190px;
  height: 150px;
}
.content-items .nav-info {
  height: 480px;
  flex: 1 0 0;
  margin-left: 20px;
  background-color: #666;
}
