.w {
  width: 1190px;
  margin: auto;
}

.mar-botm-30 {
  margin-bottom: 30px;
}
.mar-botm-10 {
  margin-bottom: 10px;
}
.mar-botm-12 {
  margin-bottom: 12px;
}

.text-center {
  text-align: center;
}

.flex-r-nowrap {
  display: flex;
}
.flex-r-wrap {
  display: flex;
  flex-wrap: wrap;
}
.overflow-omit {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.footer-icon {
  width: 36px;
  height: 42px;
}
.before-after-content{
  content: "";
  width: 25px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-image: url("../../images/channel.png");
}
.shortcut {
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;

  &-content {
    &-location {
      margin-right: auto;
      span {
        padding-right: 10px;
      }
    }

    li {
      padding: 0 15px;
      .iconfont {
        vertical-align: middle;
      }
    }

    .current {
      .myjd-items {
        display: none;
      }

      &:hover {
        position: relative;
        background-color: #fff;
        z-index: 1;

        .myjd-items {
          display: flex;
          position: absolute;
          left: 0;
          top: 30px;
          width: 280px;
          height: 142px;
          border: 1px solid #ccc;
          background-color: #fff;
          .items {
            padding-left: 20px;
            width: 120px;
            height: 24px;
          }
        }
      }
    }
  }
}

.header {
  border-bottom: 1px solid #ccc;

  .header-content {
    padding-bottom: 10px;
    .logo {
      flex: 1 1 0;
      text-align: center;

      img {
        max-height: 120px;
      }
    }
    &-search {
      flex: 4 1 0;

      .search-content {
        margin: 25px 20px 5px 25px;
        .search-form {
          width: 550px;
          height: 32px;
          border: 2px solid #e2231a;
          margin-right: auto;

          input {
            flex: 8;
          }
          .iconfont {
            padding: 8px;
            font-size: 16px;
          }

          button {
            flex: 1;
            background-color: #e2231a;
    
            .search {
              color: white;
            }
          }
        }

        .mycar {
          margin-right: 10px;
          width: 130px;
          line-height: 36px;
          border: 1px solid #eeeeee;

          .car {
            margin: auto;
            position: relative;
            font-size: 25px;
            color: #e2231a;
          }

          .num {
            position: absolute;
            top: -4px;
            left: 15px;
            width: 16px;
            height: 14px;
            line-height: 13px;
            border: 1px solid #e2231a;
            background-color: #e2231a;
            border-radius: 7px;
            color: #fff;
          }

          a {
            margin-right: 10px;
            color: #e2231a;
            font-size: 12px;
          }
        }
      }

      .hotwords {
        margin-left: 25px;

        li {
          height: 20px;
          line-height: 20px;
          padding: 0 5px;
        }
      }

      .navitems {
        margin-top: 20px;
        flex: 2;

        li {
          padding: 0 10px;

          font-weight: 700;
          color: #c81623;
          .current {
            font-size: 16px;
            font-weight: 700;
            color: #e2231a;
          }
        }

        a {
          color: #333;
        }
      }
    }
  }
}

.treasure {
  flex: 1 1 0;
}

.content {
  background-color: #f5f5f5;

  &-items {
    margin: 10px auto 30px;

    .nav-left {
      width: 190px;
      padding-left: 15px;
      margin-right: 10px;
      background-color: #fff;
      li {
        position: relative;
        line-height: 24px;
      }

      li:nth-child(1):hover .hidden {
        display: block;
        position: absolute;
        top: -2px;
        left: 175px;
        background-color: #fff;
      }

      li:hover {
        background-color: #ccc;
      }
      .hidden {
        display: none;
        .menu-items {
          width: 980px;
          height: 440px;
          border: 1px solid #fff;
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
          padding: 20px 10px;

          .category {
            &-nav {
              flex: 1 1 0;

              &-items {
                margin-left: 15px;
                li {
                  margin-right: 10px;
                  padding: 0 5px;
                  line-height: 24px;

                  background-color: #333;
                  .iconfont {
                    color: #fff;
                  }
                  a {
                    color: #fff;
                    font-size: 12px !important;
                  }
                }
              }
            }
            &-detail {
              dl {
                margin-top: 15px;
                dt {
                  width: 70px;
                  text-align: right;
                  vertical-align: middle;
                  margin-right: 20px;

                  a {
                    font-weight: 700;
                  }
                }
                dd {
                  a {
                    padding: 5px;
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .brands {
            margin-left: 40px;
            &-items {
              width: 170px;
              li {
                margin-right: 2px;
              }
            }
            &-bottom {
              margin-top: 10px;
            }
          }
        }
      }
    }
    .roll {
      flex-shrink: 0;
      width: 570px;
      overflow: hidden;
      .slider {
        width: 2850px;
        height: 480px;

        li {
          flex: 1;
          animation: 10s 0s alternate ease-in-out infinite;
          img {
            width: 570px;
            height: 480px;
          }
        }
        @keyframes roll {
          0% {
            margin-left: 0px;
          }
          20% {
            margin-left: -580px;
          }
          40% {
            margin-left: -1160px;
          }
          60% {
            margin-left: -1740px;
          }
          80% {
            margin-left: -2320px;
          }
          100% {
            margin-left: -2900px;
          }
        }
      }
    }

    .recommend {
      margin-left: 10px;
      height: 480px;

      li:nth-last-child(1) {
        margin: 0;
      }

      li {
        img {
          width: 190px;
          height: 150px;
        }
      }
    }

    .nav-info {
      margin-left: 20px;
      font-size: 12px;
      background-color: #fff;
      height: 480px;
      .user {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        &-info {
          height: 71px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-top: 15px;
          }

          .welc {
            margin: 20px 0 0 18px;

            p {
              margin-top: 5px;
              line-height: 20px;
            }

            p > a:nth-child(1) {
              padding-right: 5px;
              border-right: 1px solid #ccc;
            }
          }
        }
        &-profit {
          height: 25px;
          justify-content: space-around;
          a {
            width: 80px;
            line-height: 25px;
            border-radius: 13px;
            color: #fff;
          }
          .new-pro {
            background-color: #e1251b;
          }
          .new-pro:hover {
            color: #fff !important;
          }

          .vip {
            background-color: #363634;
          }
          .vip:hover {
            color: #fff !important;
            background-color: #e1251b;
          }
        }
      }

      .news {
        padding: 5px 0 10px 15px;
        &-fast {
          height: 30px;
          line-height: 35px;

          h5 {
            margin-right: auto;
            font-weight: 700;
          }

          .more {
            .iconfont {
              font-size: 10px;
            }
          }
        }

        &-list {
          a {
            display: block;
            height: 16px;
            width: 190px;
            margin: 5px 4px 0 0;
          }

          .news-tag {
            margin-right: 10px;
            width: 35px;
            height: 16px;
            line-height: 16px;
            color: #e1251b;
            background-color: #ddaeac;
          }
        }
      }

      .services {
        width: 209px;
        padding: 20px 20px 0;
        border-top: 1px solid #ccc;
        text-align: left;
        height: 234px;
        box-sizing: border-box;

        &-item {
          width: 55px;
          height: 50px;
          flex-direction: column;
          &-link {
            display: block;

            img {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
  }
  .Jd-kill {
    .seckill {
      height: 260px;
      background-color: #fff;

      .countdown {
        width: 190px;

        a {
          display: block;
          height: 260px;
          color: #fff;
          background: url("../../images/kill.png") no-repeat;

          .countdown-title {
            padding-top: 30px;
            line-height: 45px;
            font-size: 30px;
            font-weight: 700;
          }

          .countdown-desc {
            line-height: 26px;
            margin-top: 100px;
            .countdown-timmer {
              margin-left: 20px;

              .uini-timer {
                position: relative;
                margin: 10px 10px 0 10px;
                display: block;
                width: 30px;
                line-height: 30px;
                background-color: #2f3430;
                font-size: 20px;
                font-weight: 700;
              }

              .uini-timer {
                &:after {
                  content: ":";
                  width: 20px;
                  height: 100%;
                  display: block;
                  position: absolute;
                  top: 0;
                  right: -20px;
                  font-weight: 700;
                }

                &:last-child:after {
                  content: "";
                }
              }
            }
          }
        }
        a:hover {
          color: #fff !important;
        }
      }
      .skill-item {
        flex: 3;
        .slider-items {
          .slider-item {
            padding: 10px;
            width: 180px;
            height: 240px;


            &-info {
              margin: 10px;
              height: 18px;
            }
            &:hover {
              color: #e2231a;
            }
            &-price {
              height: 22px;
              position: relative;
              border: 1px solid #e2231a;
              &-reduce {
                position: absolute;
                left: 0;
                height: 22px;
                line-height: 22px;
                width: 102px;
                background-color: #e2231a;
                color: #fff;
                font-weight: 700;
              }
              &-reduce::after {
                content: "";
                width: 0;
                height: 0;
                border-color: transparent white transparent transparent;
                border-style: solid;
                border-width: 22px 8px 0 0;
                position: absolute;
                top: 0;
                left: 94px;
              }
              &-orign {
                position: absolute;
                right: 0;
                line-height: 22px;
                width: 66px;
                text-decoration: line-through;
                color: #999;
                font-size: 12px;
              }
            }
          }
        }
      }
      .skill-brand {
        padding: 10px;
        width: 180px;
        height: 240px;

        .item-info {
          line-height: 21px;
          height: 97px;
          background-image: linear-gradient(to bottom, #f7f7f7, #2a82df);

          .hot {
            margin: 8px 0;
            font-weight: 700;
          }

          .brand {
            margin: 0 auto;
            width: 84px;
            border: 1px solid #c81623;
            border-radius: 14px;
            font-weight: 700;
            .iconfont {
              font-size: 10px;
            }
          }
          .brand:hover {
            background-color: #c81623;
            color: #fff;
          }
        }
      }
    }
  }
  .bargin {
    height: 340px;

    justify-content: space-between;
    .daily-spec {
      width: 590px;
      background-color: #fff;

      .spec-hd {
        height: 60px;
        line-height: 60px;
        margin: 0 20px;
        &-title {
          margin-right: auto;
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
        &-category {
          width: 260px;

          a {
            margin-left: 20px;
            width: 28px;
            height: 21px;
          }
        }
      }
      &-content {
        padding: 20px;
        height: 280px;
        box-sizing: border-box;
        .spec-item {
          padding: 0 20px 0;
          width: 170px;

          h6 {
            margin: 10px 0;
            height: 18px;
            width: 160px;
            font-size: 16px;
          }
          h6:hover {
            color: #e2231a;
          }
          &-price {
            &-reduce {
              font-size: 20px;
              left: 0;
              line-height: 22px;
              width: 102px;
              color: #e2231a;
              font-weight: 700;
            }
            &-orign {
              text-decoration: line-through;
              color: #999;
            }
          }
        }
        .spec-lists {
          &-item {
            margin: 10px 0;
            width: 170px;
            height: 84px;
            img {
              width: 84px;
              height: 84px;
            }
            .item {
              p {
                width: 60px;
              }
            }
          }
        }
      }
    }
    .buy-brand {
      width: 590px;
      background-color: #fff;

      .brand-hd {
        padding: 0 20px;
        &-title {
          line-height: 60px;
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
        .brand-item {
          height: 270px;
          .icon-content {
            position: relative;
            width: 270px;
            height: 265px;
            background: linear-gradient(to bottom, #fff, 80%, #fddd);

            .icon-brand {
              height: 24px;
              font-size: 18px;
              font-weight: 700;
            }
            .big-bra {
              margin: 10px auto;
              width: 130px;
              img {
                width: 100%;
              }
            }
            .rest-days {
              margin-left: 10px;

              &:before {
                content: "";
                position: absolute;
                left: 138px;
                top: 78px;
                width: 1px;
                height: 10px;
                background-color: rgba(102, 102, 102, 0.4);
              }
              strong {
                font-weight: 700;
              }
            }
          }
        }
      }

      .other-items {
        width: 280px;
        padding: 15px 0;

        .other-item {
          width: 130px;
          margin: 5px;
          img {
            width: 100px;

            margin: 0 10px;
          }
        }
      }
    }
  }
  .jd-goods {
    justify-content: space-between;

    .news-arrival {
      width: 290px;
      background-color: #fff;
      &-hd {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        &-title {
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
      }
      .ad-slider {
        margin-top: 15px;
        overflow: hidden;
        li {
          width: 104px;
          height: 104px;
          img {
            width: 104px;
            height: 104px;
          }
        }
      }
      .ad-info {
        width: 200px;
        margin: 20px auto;
        p {
          line-height: 30px;
        }
        .more {
          color: #999;
        }
        span {
          color: #e2231a;
          font-size: 18px;
        }
      }
    }
    .jd-top {
      width: 290px;
      background-color: #fff;
      padding: 0 15px;
      box-sizing: border-box;
      &-hd {
        height: 60px;
        line-height: 60px;

        &-title {
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
        &-tag {
          line-height: 20px;

          li {
            width: 62px;
            height: 20px;
          }
          li:hover {
            border-radius: 12px;
            background-color: #e1251b;

            a:hover {
              width: 62px;
              height: 20px;
              color: #fff !important;
            }
          }
        }
      }
      .fitment {
        li {
          margin-top: 20px;
          .rank {
            margin: 7px;
            width: 30px;
            height: 41px;
            background: url("../../images/bg.png") no-repeat;
            background-size: 29px 41px;
            &-top {
              line-height: 16px;
              width: 28px;
              height: 16px;
              color: #e6ac36;
              font-weight: 700;
            }
            &-num {
              margin-top: -5px;
              width: 28px;
              height: 19px;
              line-height: 19px;
              font-weight: 700;
              font-size: 18px;
              color: #fff;
            }
          }
          img {
            width: 70px;
            height: 70px;
            margin: 0 5px;
          }
          a {
            line-height: 25px;
            margin: 10px;
            height: 50px;
            overflow: hidden;
          }
        }
      }
    }
    .nice-shop {
      .nice-shop-container {
        .shop-item {
          position: relative;
          height: 128px;
          padding: 0 15px;
          background: url("../../images/bg3.png");
          background-size: cover;
          .shop-info {
            width: 120px;
            height: 41px;
            padding-top: 10px;
            &-title {
              width: 120px;
              max-height: 18px;
              line-height: 18px;
              font-size: 14px;
              margin: 5px 0 0;
              color: #333;
            }
            &-tags {
              width: 120px;
              height: 18px;
              margin-top: 15px;

              &-origin {
                width: 30px;
                padding: 2px;
                color: #e2231a;
                border-radius: 2px;

                border: 1px solid #e2231a;
              }
              &-theme {
                color: #596fab;
                border-radius: 2px;
                border: 1px solid #596fab;
                width: 54px;
                margin-left: 10px;
                padding: 2px;
              }
            }
          }
          .item-social {
            height: 18px;
            position: absolute;
            left: 23px;
            bottom: 25px;
          }
          .shop-item-cover {
            position: absolute;
            top: 14px;
            left: 140px;
            width: 100px;
            background-color: #fff;
            img {
              margin-top: 5px;
              width: 90px;
            }
          }
        }
      }
    }
    .coupons {
      width: 290px;
      background-color: #fff;
      &-hd-title {
        padding: 0 15px;
      }
      &-container {
        background: url("../../images/bg14.png");
        .coupons-items {
          width: 260px;
          height: 280px;
          margin: 0 15px;
          .coupons-item {
            &-img {
              margin-left: 10px;
              padding: 8px;
            }
            &-info {
              width: 140px;
              height: 82px;
              &-price {
                height: 34px;
                line-height: 34px;
                color: #e33333;
                span {
                  font-size: 28px;
                  font-weight: 700;
                }
              }
              &-limit {
                color: #999;
                line-height: 18px;
              }
              &-desc {
                color: #333;
                line-height: 18px;
              }
            }
            .coupons-more {
              margin-left: 10px;
              position: relative;
              width: 17px;
              justify-content: center;
              align-items: Center;
              color: #666;
              .iconfont {
                font-size: 10px;
                position: absolute;
                left: 18px;
                top: 35px;
              }
            }
          }
          .item2 {
            margin: 5px 0;
          }
        }
      }
    }
  }
  .Jd-channel {
    .channel-block {
      .channel-hd {
        height: 65px;
        &-title {
          position: relative;
          width: 150px;
          height: 45px;
          color: #333;
          font-size: 28px;
          font-weight: 700;
          line-height: 45px;
          padding: 0 30px;
          margin: 0 auto 20px;
          &:before{
           .before-after-content;
            left:0;
            background-position: 0 0;
           
          }
          &:after {
            .before-after-content;
            right: 0;
            background-position: -25px 0;
          
          }
        }
      }
      .channel-bd {
        flex-direction: column;
        height: 950px;

        &-wrapper {
          width: 600px;

          &-aside {
            img {
              margin: 0px 5px 5px 0;
            }
          }
          &-items {
            .bd-items {
              background-color: #fff;
              height: 163px;
              &:nth-child(even) {
                margin-right: 0;
              }
              margin-right: 10px;
              padding-top: 17px;
              line-height: 30px;
              &-title {
                height: 60px;
                padding-left: 20px;
                &-main {
                  font-size: 22px;
                  font-weight: 700;
                  color: #333;
                }
                &-aside {
                  color: #999;
                  font-size: 14px;
                }
              }
              .img-items {
                width: 290px;
                height: 100px;
                img {
                  width: 100px;
                  height: 100px;
                  margin: 0 20px;
                }
              }
            }
          }
        }
        .channel-right-items {
          width: 590px;
        }
      }
    }
  }
  .recommend-block {
    .recommend-tabs {
      background-color: #fff;
      &-item {
        position: relative;
        cursor: pointer;
        width: 180px;
        margin-right: 25px;

        &-title {
          &:hover {
            background: #e1251b;
            color: #fff !important;
            width: 70px;
            height: 27px;
            border-radius: 50px;
            padding: 0 5px;
            span {
              color: #fff !important;
            }
          }
          width: 64px;
          height: 27px;
          margin: 7px auto 0;
          span {
            font-size: 16px;
            font-weight: 700;
            line-height: 27px;

          }
        }
        &-desc {
          height: 21px;
          line-height: 21px;
          color: #999;
          &:hover {
            color: #e1251b;
          }
        }
        &-gap {
          position: absolute;
          right: 0;
          top: 7px;
          height: 30px;
          margin: 10px 0;
          width: 1px;
          background: #dfdfdf;
        }
      }
    }
    .more-lists {
      justify-content: space-between;
      &-item {
        width: 232px;
        height: 322px;
        margin: 10px 0;

        background-color: #fff;
        .item-img {
          width: 230px;
          height: 220px;
          img {
            margin-top: 30px;
          }
        }
        .more-info {
          &:hover {
            .find-other {
              display: flex;
            }
          }
          position: relative;
          padding: 0 10px;
          width: 230px;
          height: 100px;
          line-height: 24px;

          .find-other {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 230px;
            height: 66px;
            opacity: 0.9;
            z-index: 100;
            background-color: #fff;
            span {
              margin: 15px auto;
              color: #fff;
              width: 122px;
              height: 30px;
              background-color: #c81623;
              line-height: 30px;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: #f5f5f5;
  .mod-service {
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding: 20px 0;
    &-item {
      width: 240px;
      h3 {
        margin-left: 10px;
        font-weight: 700;
        font-size: 18px;
      }
      &-ti {
        width: 180px;
        height: 42px;
        line-height: 42px;
        font-size: 18px;
      }
      &-duo {
        background: url("../../images/sprite.png") 0 -192px;
      }
      &-kuai {
        background: url("../../images/sprite.png") -41px -192px;
      }
      &-hao {
        background: url("../../images/sprite.png") -82px -192px;
      }
      &-sheng {
        background: url("../../images/sprite.png") -123px -192px;
      }
    }
  }
  .mod-help {
    height: 187px;
    border-bottom: 1px solid #ededed;
    padding: 20px 0;
    &-list {
      width: 198px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      dt {
        line-height: 30px;
        font-size: 16px;
        font-weight: 700;
      }
      dd {
        a {
          height: 21px;
        }
      }
    }
  }
  .mod-copyright {
    &-links {
      padding: 20px 0;
    }
  }
}