.w {
  width: 1190px;
  margin: auto;
}

.shortcut {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;

  &-content {
    display: flex;
    font-size: 12px;

    &-location {
      margin-right: auto;
      span {
        padding-right: 10px;
      }
    }

    li {
      line-height: 30px;
      padding: 0 10px;

      a {
        margin-right: 5px;
      }

      .iconfont {
        vertical-align: middle;
      }
    }

    .spacer {
      width: 5px;
      color: #999;
    }
  }
}
.header {
  border-bottom: 1px solid #ccc;

  .header-content {
    padding-bottom: 10px;
    height: 120px;
    display: flex;
    .logo {
      flex: 1 1 0;
      text-align: center;

      img {
        max-height: 120px;
      }
    }
    &-search {
      display: flex;
      flex: 4 1 0;
      flex-direction: column;
      justify-content: space-around;

      .search-content {
        display: flex;
        flex: 2;
        margin: 25px 20px 5px 25px;

        .search-form {
          display: flex;
          width: 550px;
          height: 32px;
          border: 2px solid #e2231a;
          text-align: center;
          margin-right: auto;

          input {
            flex: 8;
            display: inline-block;
            border: none;
            outline: none;
          }

          button {
            flex: 1;
            background-color: #e2231a;
            border: none;
            outline: none;

            .search {
              color: white;
            }
          }
        }

        .mycar {
          display: flex;
          margin-right: 10px;
          width: 130px;
          height: 36px;
          line-height: 36px;
          border: 1px solid #eeeeee;

          .car {
            margin: auto;
            position: relative;
            font-size: 25px;
            color: #e2231a;
          }

          .num {
            position: absolute;
            top: -4px;
            left: 15px;
            width: 16px;
            height: 14px;
            line-height: 13px;
            text-align: center;
            border: 1px solid #e2231a;
            background-color: #e2231a;
            border-radius: 7px;
            font-size: 10px;
            color: #fff;
          }

          a {
            margin-right: 10px;
            color: #e2231a;
            font-size: 12px;
          }
        }
      }

      .hotwords {
        flex: 1;
        width: 550px;
        display: flex;
        font-size: 12px;
        margin-left: 25px;

        li {
          flex: 2 1 auto;
        }
      }

      .navitems {
        margin-top: 20px;
        flex: 2;
        display: flex;

        li {
          flex: 1 1 auto;
          line-height: 40px;
          font-weight: 700;
          color: #c81623;
          .current{
            font-size: 16px;
            font-weight: 700;
            color: #e2231a;
          }
        }

        a {
          color: #333;
        }
      }
    }
  }
}

.treasure {
  flex: 1 1 0;
}
.content{
  width: 100%;
  height: 480px;
  border:1px solid #ccc;
  margin-bottom: 30px;
  &-items{
    display: flex;
    margin-bottom: 10px;
  }
}
