.w {
  width: 1190px;
  margin: auto;
}

.shortcut {
 
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;

  &-content {
    display: flex;
    font-size: 12px;

    &-location {
      margin-right: auto;
      span {
        padding-right: 10px;
      }
    }

    li {
     
      padding: 0 10px;

      a {
        margin-right: 5px;
      }

      .iconfont {
        vertical-align: middle;
      }
    }

    .current {
      .myjd-items {
        display: none;
      }

      &:hover {
        position: relative;
        background-color: #fff;
        z-index: 1;

        .myjd-items {
          display: flex;
          position: absolute;
          left: 0;
          top: 30px;
          width: 280px;
          height: 150px;
          border: 1px solid #ccc;
          background-color: #fff;
          flex-wrap: wrap;
          .items {
            padding-left: 20px;
            width: 120px;
            height: 24px;
          }
        }
      }
    }

    .spacer {
      width: 5px;
      color: #999;
    }
  }
}

.header {
  border-bottom: 1px solid #ccc;

  .header-content {
    padding-bottom: 10px;
    height: 120px;
    display: flex;

    .logo {
      flex: 1 1 0;
      text-align: center;

      img {
        max-height: 120px;
      }
    }
    &-search {
      
      flex: 4 1 0;
      

      .search-content {
        display: flex;
       
        margin: 25px 20px 5px 25px;

        .search-form {
          display: flex;
          width: 550px;
          height: 32px;
          border: 2px solid #e2231a;
          margin-right: auto;

          input {
            flex: 8;
            border: none;
            outline: none;
          }

          button {
            flex: 1;
            background-color: #e2231a;
            border: none;
            outline: none;

            .search {
              color: white;
            }
          }
        }

        .mycar {
          display: flex;
          margin-right: 10px;
          width: 130px;
          height: 36px;
          line-height: 36px;
          border: 1px solid #eeeeee;

          .car {
            margin: auto;
            position: relative;
            font-size: 25px;
            color: #e2231a;
          }

          .num {
            position: absolute;
            top: -4px;
            left: 15px;
            width: 16px;
            height: 14px;
            line-height: 13px;
            text-align: center;
            border: 1px solid #e2231a;
            background-color: #e2231a;
            border-radius: 7px;
            font-size: 10px;
            color: #fff;
          }

          a {
            margin-right: 10px;
            color: #e2231a;
            font-size: 12px;
          }
        }
      }

      .hotwords {
        width: 550px;
        display: flex;
        font-size: 12px;
        margin-left: 25px;

        li {
          width: 60px;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }
      }

      .navitems {
        margin-top: 20px;
        flex: 2;
        display: flex;

        li {
          padding:0 10px;
         
          font-weight: 700;
          color: #c81623;
          .current {
            font-size: 16px;
            font-weight: 700;
            color: #e2231a;
          }
        }

        a {
          color: #333;
        }
      }
    }
  }
}

.treasure {
  flex: 1 1 0;
}

.content {
  width: 100%;

  background-color: #ededed;

  &-items {
    padding: 10px 0 0 0;
    display: flex;
    margin-bottom: 30px;

    .nav-left {
      width: 190px;
      height: 480px;
      padding-left: 18px;
      margin-right: 10px;
      background-color: #fff;
      li {
        position: relative;

        line-height: 25px;
        font-size: 14px;

        a {
          color: #636363;
        }
      }

      li:nth-child(1):hover .hidden {
        display: block;
        position: absolute;
        top: -2px;
        left: 190px;
        background-color: #fff;
      }

      li:hover {
        background-color: #ccc;
      }
      .hidden {
        display: none;

        .menu-items {
          display: flex;
          width: 1000px;
          height: 454px;
          border: 1px solid #fff;
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
          padding: 20px 10px 20px 10px;

          .category {

            &-nav {
              flex: 1 1 0;

              &-items {
                display: flex;
                margin-left: 15px;

                li {

                  margin-right: 10px;
                  padding: 0 5px;
                  line-height: 24px;
                 
                  background-color: #333;
                  .iconfont {
                    font-size: 12px;
                    color: #fff;
                  }

                  a {
                    color: #fff;
                    font-size: 12px;
                  }
                }
              }
            }
            &-detail {
  
              dl {
                margin-top: 15px;
                font-size: 12px;
                display: flex;
                .iconfont {
                  font-size: 12px;
                }

                dt {
                  width: 70px;
                  text-align: right;
                  vertical-align: middle;
                  margin-right: 20px;

                  a {
                    font-weight: 700;
                    color: #333;
                  }
                }

                dd {
                  a {
                    display: inline-block;
                    padding: 5px 7px;
                  }
                }
              }
            }
          }
          .brands {
            margin-left: 20px;

            &-items {
              width: 170px;
              display: flex;
              flex-wrap: wrap;

              li {
                margin-right: 2px;
              }
            }

            &-bottom {
              margin-top: 10px;
            }
          }
        }
      }
    }
    .roll {
    
      width: 570px;
      height: 480px;
      overflow: hidden;
      .slider {
        display: flex;
        width: 2850px;
        height: 480px;

        li {
          flex:1;
          animation: 10s 0s alternate ease-in-out infinite;
          img {
            width: 570px;
            height: 480px;
          }
        }
        @keyframes roll {
          0% {
            margin-left: 0px;
          }
          20% {
            margin-left: -580px;
          }
          40% {
            margin-left: -1160px;
          }
          60% {
            margin-left: -1740px;
          }
          80% {
            margin-left: -2320px;
          }
          100% {
            margin-left: -2900px;
          }
        }
      }
    }

    .recommend {
      margin-left: 10px;

      li:nth-last-child(1) {
        margin: 0;
      }

      li {
        margin-bottom: 12px;
        img {
          width: 190px;
          height: 150px;
        }
      }
    }

    .nav-info {
      display: flex;
      flex-direction: column;
      height: 480px;
      flex: 1 0 0;
      margin-left: 20px;
      font-size: 12px;
      background-color: #fff;
      .user {
        width: 170px;
        margin: 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        &-info {
          display: flex;
          height: 71px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-top: 15px;
          }

          .welc {
            margin: 20px 0 0 18px;

            p {
              margin-top: 5px;
              line-height: 20px;
            }

            p > a:nth-child(1) {
              padding-right: 5px;
              border-right: 1px solid #ccc;
            }
          }
        }
        &-profit {
          height: 25px;
          display: flex;
          justify-content: space-around;
          a {
            width: 80px;
            line-height: 25px;
            border-radius: 13px;
            color: #fff;
            text-align: center;
          }
          .new-pro {
            background-color: #e1251b;
          }
          .new-pro:hover {
            color: #fff !important;
          }

          .vip {
            background-color: #363634;
          }
          .vip:hover {
            color: #fff !important;
            background-color: #e1251b;
          }
        }
      }

      .news {
        margin-left: 15px;
        padding-bottom: 20px;

        &-fast {
          display: flex;
          height: 30px;
          line-height: 35px;

          h5 {
            margin-right: auto;
            font-size: 14px;
            font-weight: 700;
          }

          .more {
            .iconfont {
              font-size: 10px;
            }
          }
        }

        &-list {
          a {
            display: block;
            height: 16px;
            width: 190px;
            margin: 5px 4px 0 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .news-tag {
            display: inline-block;
            margin-right: 6px;
            width: 35px;
            height: 16px;
            line-height: 16px;
            color: #e1251b;
            background-color: #ddaeac;
            text-align: center;
          }
        }
      }

      .services {
        display: flex;
        width: 170px;
        margin: 0 20px;
        border-top: 1px solid #ccc;
        flex-wrap: wrap;
        text-align: left;

        &-item {
          flex: 2;
          width: 55px;
          height: 55px;
          margin: 10px;
          display: flex;
          flex-direction: column;

          &-link {
            display: block;

            img {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
  }
  .Jd-kill {
    margin-bottom: 30px;
    .seckill {
      display: flex;
      height: 260px;
      background-color: #fff;

      .countdown {
        width: 190px;

        a {
          display: block;
          height: 260px;
          text-align: center;
          color: #fff;
          background: url("../../images/kill.png") no-repeat;

          .countdown-title {
            padding-top: 30px;
            line-height: 45px;
            font-size: 30px;
            font-weight: 700;
          }

          .countdown-desc {
            line-height: 26px;
            margin-top: 100px;
            font-size: 14px;

            strong {
              line-height: 26px;
              margin-right: 2px;
              font-size: 18px;
              font-weight: 700;
            }
            .countdown-timmer {
              display: flex;
              text-align: center;
              margin-left: 20px;

              .uini-timer {
                position: relative;
                margin: 10px 10px 0 10px;
                display: block;
                width: 30px;
                line-height: 30px;
                background-color: #2f3430;
                font-size: 20px;
                font-weight: 700;
              }

              .uini-timer {
                &:after {
                  content: ":";
                  width: 20px;
                  height: 100%;
                  display: block;
                  position: absolute;
                  top: 0;
                  right: -20px;
                  font-weight: 700;
                }

                &:last-child:after {
                  content: "";
                }
              }
            }
          }
        }
        a:hover {
          color: #fff !important;
        }
      }
      .skill-item {
        flex: 3;
        .slider-items {
          display: flex;

          .slider-item {
            padding: 10px;
            width: 180px;
            height: 240px;
            
            text-align: center;

            h6 {
              margin: 10px;
              height: 18px;
              text-overflow: ellipsis; /*省略号 */
              white-space: nowrap; /*溢出时不换行 */
              overflow: hidden;
              font-size: 12px;
              color: #333;
            }
            h6:hover {
              color: #e2231a;
            }
            &-price {
              height: 22px;
              position: relative;

              border: 1px solid #e2231a;
              &-reduce {
                position: absolute;
                left: 0;
                height: 22px;
                line-height: 22px;
                width: 102px;
                display: inline-block;
                background-color: #e2231a;
                color: #fff;
                font-weight: 700;
                i {
                  font-size: 10px;
                }
              }
              &-reduce::after {
                content: "";
                width: 0;
                height: 0;
                border-color: transparent white transparent transparent;
                border-style: solid;
                border-width: 22px 8px 0 0;
                position: absolute;
                top: 0;
                left: 94px;
              }
              &-orign {
                position: absolute;
                right: 0;
                line-height: 22px;
                width: 66px;
                display: inline-block;

                text-decoration: line-through;
                color: #999;
                font-size: 12px;
              }
            }
          }
        }
      }
      .skill-brand {
        padding: 10px;
        width: 180px;
        height: 240px;
        font-size: 14px;
        text-align: center;
        .brand-item {
          margin-bottom: 10px;
        }
        .item-info {
          line-height: 21px;
          height: 97px;
          background-image: linear-gradient(to bottom, #f7f7f7, #2a82df);

          .hot {
            margin: 8px 0;
            font-weight: 700;
          }

          .brand {
            margin: 0 auto;
            width: 84px;
            height: 21px;
            line-height: 21px;
            border: 1px solid #c81623;
            border-radius: 14px;
            font-weight: 700;
            .iconfont {
              font-size: 10px;
            }
          }
          .brand:hover {
            background-color: #c81623;
            color: #fff;
          }
        }
      }
    }
  }
  .bargin {
    height: 340px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    .daily-spec {
      width: 590px;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;

      .spec-hd {
        width: 590px;
        display: flex;
        height: 60px;
        line-height: 60px;
        margin: 0 20px;
        &-title {
         
          margin-right: auto;
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
        &-category{
          width: 260px;
          font-size: 14px;
          
          a {
            margin-left: 20px;
            width: 28px;
            height: 21px;
          }
        }
      }
      &-content{
        display: flex;
        height: 280px;
        
        .spec-item {
          padding: 20px 30px;
          width: 170px;
         
          text-align: center;
  
          h6 {
            margin: 10px 0;
            height: 18px;
            width: 160px;
            text-overflow: ellipsis; /*省略号 */
            white-space: nowrap; /*溢出时不换行 */
            overflow: hidden;
            color: #333;
          }
          h6:hover {
            color: #e2231a;
          }
          &-price {
            height: 22px;
            position: relative;
  
            &-reduce {
              font-size: 20px;
              left: 0;
              line-height: 22px;
              width: 102px;
              color: #e2231a;
              font-weight: 700;
  
              i {
                font-size: 10px;
              }
            }
  
            &-orign {
              text-decoration: line-through;
              color: #999;
              font-size: 12px;
            }
          }
        }
        .spec-lists {
          display: flex;
          width: 350px;
          padding: 20px 0;
          flex-wrap: wrap;
          &-item {
            margin: 10px 0;
            width: 170px;
            height: 84px;
            display: flex;
            img {
              width: 84px;
              height: 84px;
            }
  
            .item {
              width: 75px;
  
              p {
                width: 60px;
              }
              &-name {
                font-size: 12px;
              }
  
              &-price-reduce {
                font-size: 20px;
                color: #e2231a;
                font-weight: 700;
  
                i {
                  font-size: 10px;
                }
              }
  
              &-price-orign {
                text-decoration: line-through;
                color: #999;
                font-size: 12px;
              }
            }
          }
        }
      }
      
    }
    .buy-brand {
      display: flex;
      width: 590px;
      background-color: #fff;
      flex-wrap: wrap;
      .brand-hd {
        height: 60px;
        line-height: 60px;
        margin: 0 20px;
        &-title {
          flex: 1;

          margin-right: auto;
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
      }
      .brand-item {
        height: 270px;
        display: flex;
        margin-left: 20px;
        text-align: center;
        .icon-content {
          position: relative;
          width: 270px;
          height: 265px;
          background: linear-gradient(to bottom, #fff, 80%, #fddd);

          .icon-brand {
            padding-bottom: 10px;
            height: 24px;
            font-size: 18px;
            font-weight: 700;
          }
          span {
            font-size: 12px;
          }
          .big-bra {
            margin-left: 65px;
            margin-top: 10px;
            width: 130px;
            height: 130px;
            img {
              width: 100%;
            }
          }
          .rest-days {
            margin-left: 10px;

            &:before {
              content: "";
              position: absolute;
              left: 138px;
              top: 78px;
              width: 1px;
              height: 10px;
              background-color: rgba(102, 102, 102, 0.4);
            }
            strong {
              font-weight: 700;
            }
          }
        }
        .other-items {
          display: flex;
          flex-wrap: wrap;
          width: 280px;
          height: 312px;
          margin-top: -47px;
          .other-item { 
            width: 130px;
            margin: 5px;
            img {
              width: 100px;
            
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
  .jd-goods {
    display: flex;
    width: 1190px;
    height: 340px;
    justify-content: space-between;
    margin-bottom: 20px;

    .news-arrival {
      width: 290px;
      background-color: #fff;
      &-hd {
        height: 60px;
        line-height: 60px;
        margin: 0 20px;
        &-title {
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
      }
      .ad-slider {
       margin-top: 15px;
        display: flex;
        overflow: hidden;
        li {
          width: 104px;
          height: 104px;
          img {
            width: 104px;
            height: 104px;
          }
        }
       
      }
      .ad-info {
       width: 200px;
        text-align: center;
        margin:20px auto;
        p {
          line-height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .intro {
          font-size: 14px;
        }

        .more {
          font-size: 12px;
          color: #999;
        }
        span {
          color: #e2231a;
          font-size: 18px;
        }
      }
    }
    .jd-top {
      width: 290px;
      background-color: #fff;
      &-hd {
        height: 60px;
        line-height: 60px;
        margin: 0 20px;
        &-title {
          flex: 1;
          margin-right: auto;
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
        &-tag {
          display: flex;
          width: 290px;
          line-height: 20px;
        

          li {
            font-size: 12px;
            width: 62px;
            height: 20px;
            text-align: center;
          }
          li:hover {
            width: 62px;
            height: 20px;
            border-radius: 12px;

            background-color: #e1251b;

            a:hover {
              display: inline-block;
              width: 62px;
              height: 20px;
              color: #fff !important;
            }
          }
        }
        .fitment {
          width: 270px;
          li {
            display: flex;
            margin-top: 10px;
            .rank {
              margin: 7px;
              display: flex;
              flex-wrap: wrap;
              width: 30px;
              height: 41px;
              background: url("../../images/bg.png") no-repeat;
              background-size: 29px 41px;
              text-align: center;
              &-top {
                line-height: 16px;
                width: 28px;
                height: 16px;
                color: #e6ac36;
                font-weight: 700;
                font-size: 12px;
              }
              &-num {
                margin-top: -5px;
                width: 28px;
                height: 19px;
                line-height: 19px;
                font-weight: 700;
                font-size: 18px;
                color: #fff;
              }
            }
            img {
              width: 70px;
              height: 70px;
              margin: 0 5px;
            }
            a {
              line-height: 25px;
              margin: 10px;
              width: 140px;
              height: 50px;
              overflow: hidden;
              font-size: 14px;
            }
          }
        }
      }
    }
    .nice-shop {
      width: 290px;
      background-color: #fff;
      &-hd {
        height: 60px;
        line-height: 60px;
        margin: 0 20px;
        &-title {
          flex: 1;

          margin-right: auto;
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
      }

      .nice-shop-container {
        width: 290px;
        height: 266px;
        .shop-item {
          position: relative;
          height: 128px;
          padding: 0 15px;
          background: url("../../images/bg3.png");
          margin-top: 12px;
          background-size: cover;
          .shop-info {
            width: 120px;
            height: 41px;
            text-align: center;
            padding-top: 10px;
            &-title {
              width: 120px;
              max-height: 18px;
              line-height: 18px;
              text-align: center;
              font-size: 14px;
              margin: 5px 0 0;
              color: #333;
            }
            &-tags {
              width: 120px;
              height: 18px;

              font-size: 12px;
              margin-top: 15px;

              &-origin {
                width: 30px;
                padding: 2px;
                color: #e2231a;

                text-align: center;
                border-radius: 2px;

                border: 1px solid #e2231a;
              }
              &-theme {
                color: #596fab;
                border-radius: 2px;
                border: 1px solid #596fab;
                width: 54px;
                margin-left: 10px;
                padding: 2px;
              }
            }
          }
          .item-social {
            height: 18px;
            position: absolute;
            left: 23px;
            bottom: 25px;
            font-size: 12px;
          }
          .shop-item-cover {
            position: absolute;
            top: 12px;
            left: 170px;
            width: 100px;
            height: 100px;
            text-align: center;
            background-color: #fff;
            img {
              margin-top: 5px;
              width: 90px;
              height: 90px;
            }
          }
        }
      }
    }
    .coupons {
      width: 290px;
      background-color: #fff;
      &-hd {
        height: 60px;
        line-height: 60px;
        margin: 0 20px;
        &-title {
          flex: 1;

          margin-right: auto;
          font-weight: 700;
          font-size: 24px;
          color: #333;
          .iconfont {
            color: #e2231a;
            font-size: 20px;
            margin-left: 8px;
          }
        }
      }
      &-container {
        width: 290px;
        height: 280px;
        background: url("../../images/bg14.png");
        .coupons-items {
          display: flex;
          flex-direction: column;
          width: 260px;
          height: 280px;
          margin: 0 15px;
          .coupons-item {
            display: flex;
            height: 82px;
            &-img {
              margin-left: 10px;
              padding: 8px;
              width: 50px;
              height: 50px;
              img {
                width: 50px;
                height: 50px;
              }
            }
            &-info {
              width: 140px;
              height: 82px;
              &-price {
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                color: #e33333;
                span {
                  font-size: 28px;
                  margin-right: 3px;
                  font-weight: 700;
                }
              }
              &-limit {
                color: #999;
                font-size: 12px;
                line-height: 18px;
                height: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-desc {
                color: #333;
                font-size: 12px;
                line-height: 18px;
                height: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .coupons-more {
              margin-left: 10px;
              display: flex;
              position: relative;
              width: 17px;
              justify-content: center;
              align-items: Center;
              font-size: 12px;
              color: #666;
              .iconfont {
                font-size: 10px;
                position: absolute;
                left: 18px;
                top: 35px;
              }
            }
          }
          .item2 {
            margin: 5px 0;
          }
        }
      }
    }
  }
  .Jd-channel {
    margin-bottom: 30px;
    .channel-block {

      .channel-hd {
        height: 65px;

        &-title {
          position: relative;
          width: 150px;
          height: 45px;
          color: #333;
          font-size: 28px;
          font-weight: 700;
          text-align: center;
          line-height: 45px;
          padding: 0 30px;
          margin: 0 auto 20px;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -10px;
            background-image: url("../../images/channel.png");
            background-position: 0 0;
            width: 25px;
            height: 20px;
            left: 0;
          }
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -10px;
            background-image: url("../../images/channel.png");
            background-position: -25px 0;
            width: 25px;
            height: 20px;
            right: 0;
          }
        }
      }
      .channel-bd {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 950px;

        &-wrapper {
          width: 600px;

          &-aside {
            img {
               margin: 0px 5px 5px 0;
            }
          }
          &-items {
            display: flex;
            flex-wrap: wrap;
            .bd-items {
              background-color: #fff;
              width: 290px;
              height: 163px;
              &:nth-child(even){
                margin-right:0;
              }

              margin-right: 10px;
              margin-bottom: 10px;
              padding-top: 17px;

              line-height: 30px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &-title {
                width: 250px;
                height: 60px;
                margin-left: 20px;
                &-main {
                  font-size: 22px;
                  font-weight: 700;
                  color: #333;
                }
                &-aside{
                  color:#999;
                  font-size:14px;
                }
              }
              .img-items {
                width: 290px;
                height: 100px;
                img {
                  width: 100px;
                  height: 100px;
                  margin: 0 20px;
                }
              }
            }
          }
        }
        .channel-right-items {
          width: 590px;
        }
      }
    }
  }
  .recommend-block {
   
    .recommend-tabs {
      display: flex;
      background-color: #fff;
      &-item {
        position: relative;
        text-align: center;
        cursor: pointer;
        width: 180px;
        margin-right: 25px;

        &-title {
          &:hover {
            background: #e1251b;
            color: #fff !important;
            width: 70px;
            height: 27px;
            display: inline-block;
            border-radius: 50px;
            padding: 0 5px;
            span {
              color: #fff !important;
            }
          }
          width: 64px;
          height: 27px;
          margin: 7px auto 0;
          span {
            color: #333;
            font-size: 16px;
            font-weight: 700;
            line-height: 27px;

            text-align: center;
          }
        }
        &-desc {
          height: 21px;
          line-height: 21px;
          color: #999;
          font-size: 14px;
          &:hover {
            color: #e1251b;
          }
        }
        &-gap {
          position: absolute;
          right: 0;
          top: 7px;
          height: 30px;
          margin: 10px 0;
          width: 1px;
          background: #dfdfdf;
        }
      }
    }
    .more-lists {
      display: flex;
      flex-wrap: wrap;
      width: 1190px;
      justify-content: space-between;
      &-item {
        display: flex;
        flex-wrap: wrap;
        width: 232px;
        height: 322px;
        margin: 10px 0;
        text-align: center;
        background-color: #fff;
        .item-img {
          width: 230px;
          height: 220px;
          text-align: center;
          img {
            width: 150px;
            height: 150px;
            margin-top: 30px;
          }
        }
        .more-info {
          &:hover {
            .find-other {
              display: flex;
            }
          }
          position: relative;
          padding: 0 10px;
          width: 230px;
          height: 100px;
          font-size: 14px;
          line-height: 24px;
          text-overflow: ellipsis;
          
          .find-other {
            
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 230px;
            height: 66px;
            opacity: 0.9;
            z-index: 100;
            background-color: #ffffff;
            span{
              margin:15px auto;
              color:#fff;
              display: inline-block;
              width: 122px;
              height: 30px;
              background-color: #c81623;
              line-height: 30px;
              border-radius: 15px;
              
            }
          } 
        }
      }
    }
  }
}

.footer {
  padding-top: 30px;
  background-color: #f5f5f5;
  .mod-service {
    display: flex;
    justify-content: space-between;
    height: 79px;
    border-bottom: 1px solid #ededed;
    &-item {
      display: flex;
      flex: 1;
      width: 240px;
      height: 79px;
      h3 {
        margin-left: 10px;
        font-weight: 700;
      }
      &-ti {
        width: 180px;
        height: 42px;
        line-height: 42px;
        font-size: 18px;
      }
      &-duo {
        width: 36px;
        height: 42px;
        background: url("../../images/sprite.png") 0 -192px;
      }
      &-kuai {
        width: 36px;
        height: 42px;
        background: url("../../images/sprite.png") -41px -192px;
      }
      &-hao {
        width: 36px;
        height: 42px;
        background: url("../../images/sprite.png") -82px -192px;
      }
      &-sheng {
        width: 36px;
        height: 42px;
        background: url("../../images/sprite.png") -123px -192px;
      }
    }
  }
  .mod-help {
    display: flex;
    height: 187px;
    border-bottom: 1px solid #ededed;

    &-list {
      flex: 1;
      padding: 20px 0 0 50px;

      dt {
        height: 30px;
        font-size: 16px;
        font-weight: 700;
      }
      dd {
        a {
          font-size: 14px;
          height: 21px;
        }
      }
    }
  }
  .mod-copyright {
    text-align: center;
    &-links {
      margin: 20px 0 15px 0;
    }
    &-detl {
      height: 21px;
      line-height: 21px;
    }
  }
}
